<!DOCTYPE html>
<html>
<head>
    <title>Maze Viewer</title>
    <style>
        .maze { display: grid; grid-template-columns: repeat(auto-fit, 30px); gap: 2px; }
        .cell {
            width: 30px;
            height: 30px;
            background: white;
            box-sizing: border-box;
        }
        .top { border-top: 3px solid black; }
        .right { border-right: 3px solid black; }
        .bottom { border-bottom: 3px solid black; }
        .left { border-left: 3px solid black; }
    </style>
</head>
<body>
    <h1>Maze Viewer</h1>
    <form method="POST">
        <label for="size">Maze size:</label>
        <input type="number" id="size" name="size" min="2" required>
        <button type="submit">Generate Maze</button>
      </form>

    <div class="maze" style="grid-template-columns: repeat({{ maze[0]|length }}, 30px);">
        {% for row in maze %}
            {% for cell in row %}
                <div class="cell {{ cell }}"></div>
            {% endfor %}
        {% endfor %}
    </div>
</body>
</html>
